/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead tr {
    background-color: #f2f2f2;
}

thead th {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td mat-cell button {
    margin-right: 5px;
    color: #555;
}

td mat-cell button mat-icon {
    font-size: 18px;
}