.h1-usuarios {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-top: 60px;
    margin-bottom: 60px;
    color: rgb(70, 73, 73);
}

.form {
    display: flex;
    justify-content: center;
}

.h1-modificar {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-top: 60px;
    margin-bottom: 60px;
    color: rgb(70, 73, 73);
}

.loading {
    text-align: center;
    font-size: 2rem;
}

.div-form-button {
    display: flex;
    justify-content: center;
}